body {
  background-color: lavender;
  text-align: center;
}

footer a {
  margin: 0 20px;
}

P {
  display: block;
}

.croissant-photo {
  max-width: 100%;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}
